<div class="page-header">
  <h1>Mi cuenta</h1>
</div>
<div class="row">
  <div class="span3">
    <ul class="nav well">
      <li>
        <a href="">Actualizar mis datos</a>
      </li>
      <li>
        <a href="">Cambiar contraseña</a>
      </li>
      <li>
        <a href="">Compras recientes</a>
      </li>
    </ul>
  </div>
  <div class="span9">
    <h3>Ordenes</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Número</th>
          <th>Fecha</th>
          <th>Subtotal</th>
          <th>Total impuestos</th>
          <th>Total envío</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="#" title="Clic para mas detalles">123672</a>
          </td>
          <td>Septiembre 1, 2012</td>
          <td>$45.50</td>
          <td>$5.46</td>
          <td>$0.00</td>
          <td>$50.96</td>
        </tr>
        <tr>
          <td>
            <a href="#" title="Clic para mas detalles">302957</a>
          </td>
          <td>Septiembre 15, 2012</td>
          <td>$45.50</td>
          <td>$5.46</td>
          <td>$0.00</td>
          <td>$50.96</td>
        </tr>
        <tr>
          <td>
            <a href="#" title="Clic para mas detalles">123632</a>
          </td>
          <td>Septiembre 29, 2012</td>
          <td>$45.50</td>
          <td>$5.46</td>
          <td>$0.00</td>
          <td>$50.96</td>
        </tr>
        <tr>
          <td>
            <a href="#" title="Clic para mas detalles">643093</a>
          </td>
          <td>Octubre 1, 2012</td>
          <td>$45.50</td>
          <td>$5.46</td>
          <td>$0.00</td>
          <td>$50.96</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>